#mainText {
    position: relative;
    top: 0;
}
#topBar {
    height: 40px;
    text-align: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, teal 50%, rgb(128, 128, 128) 100%);
}
#topBarContents {
    position: relative;
    top: 25%;
}
#email {
    color: white;
}

#textReverse {
    white-space: nowrap;
}

body {
    font-family: 'Space Mono', monospace;
    background: white;
    color: darkslateblue;  
}

h1 {
    font-size: 22px
}

a {
    color: teal;
}

.project-link {
    display: block;
    margin: 20px;
}

p {
    margin: 20px;
}

::selection {
    background: teal;
}

.intro {
    font-size: 22px;
}

.column {
  float: left;
  width: 31%;
  padding: 10px;
}

.dropdown-content {
  display: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

#backgroundClick {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.show {
  display: block !important;
}

