#mainText {
    position: relative;
    top: 0;
}
#topBar {
    height: 40px;
    text-align: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, teal 50%, rgb(128, 128, 128) 100%);
}
#topBarContents {
    position: relative;
    top: 25%;
}
#email {
    color: white;
}

#textReverse {
    white-space: nowrap;
}

body {
    font-family: 'Space Mono', monospace;
    background: white;
    color: darkslateblue;  
}
a {
    color: teal;
}

p {
    margin: 20px;
}

::selection {
    background: teal;
}

.changeOnSelect {
    font-size: 28px;
}

.show {
  display: block;
}

.column {
  float: left;
  width: 33%;
  padding: 10px;
}

