body {
    font-family: 'Space Mono', monospace;
    background: black;
    color: white;
}
a {
    color: yellow;
}

p {
    margin: 20px;
}

::selection {
    background: teal;
}

.changeOnSelect {
    font-size: 36px;
}


